version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: xpense_tracker
      POSTGRES_USER: xpense_admin
      POSTGRES_PASSWORD: xpenseTracker1234
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    image: ghcr.io/emil-ep/xpense-backend:latest
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - postgres

  ui:
    image: ghcr.io/emil-ep/xpense-ui:1.0.3
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  pgdata:
