version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: expense
      POSTGRES_USER: expense
      POSTGRES_PASSWORD: expense
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    image: ghcr.io/emil-ep/xpense-backend:latest
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - db

  ui:
    image: ghcr.io/emil-ep/xpense-ui:1.0.0
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  pgdata:
