

.homeContainer {
    background-color: #573d3d;
    height: 100vh;
    width: 100vw;

    .tableContainer {
        width: 70%;
    }

    .addExpenseBtn {
        background-color: #705c59;
        padding: 0.5rem;
        font-family: 'Ubuntu', sans-serif;
        color: #ac9f9f;
        font-size: medium;
        margin: 1rem;
    }

    

}

.expenseTable {
        height: 500;
    }