name: Build & Push UI Image

on:
  push:
    branches: [main]

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Debug workspace
        run: |
          pwd
          ls -la
          ls -la src || true

      - name: Get version from package.json
        id: get_version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          no-cache: true
          push: true
          tags: |
            ghcr.io/emil-ep/xpense-ui:${{ steps.get_version.outputs.version }}
            ghcr.io/emil-ep/xpense-ui:latest